{{#in-element this.dynamicComponentsDetachedElement}}
  {{#each this.templates.components as |components|}}
    <span {{did-insert components.didInsert}}>
      123
    </span>
  {{/each}}
{{/in-element}}

{{#each this.numbers}}
  <Foo @foo={{(foo-helper)}}/>
{{/each}}
